.nav-bar {
  padding: 1.5rem 0;
  box-shadow: var(--light-shadow);
  background: var(--elements);

  .text {
    font-size: 1rem;
    color: var(--text);
    font-weight: 700;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
